
	<center><h1>le resto</h1></center>
<div class="carrousel">
	<ul>
	<li><img src="http://media.topito.com/wp-content/uploads/2014/05/nuggets.macaronis_resultat.jpg"/></li>
	<li><img src="http://media.topito.com/wp-content/uploads/2014/05/w4NCmXJ_resultat.jpg"/></li>
	<li><img src="http://media.topito.com/wp-content/uploads/2014/05/xdqLFLx_resultat.jpg"/></li>
</ul>
</div>
<div class="controls"><span class="next"></span><span class="prev"></span></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<div class="container">

	<ul class="tabs">
		<li class="tab-link current" data-tab="tab-1">présentation</li>
		<li class="tab-link" data-tab="tab-2">menus</li>
		<li class="tab-link" data-tab="tab-3">extras</li>
	</ul>

	<div id="tab-1" class="tab-content current">
		bienvenue àla table de paul. venez découvrir des spécialitées du monde toutes aussi suculantes les unes que les autres.
	</div>
	<div id="tab-2" class="tab-content">
		 <center>
		 entrée<br/>
		 Nuggets sur lit de coquillettes au fromage accompagnés de ketchup et sauce ranch<br/>
		 plat<br/>
		 Une pieuvre/saucisse et des pâtes/coquillages<br/>
		 dessert<br/>
		 Chocolat mentholé, beurre de cacahuète et pépites de chocolat au lait
		 </center>
	</div>
	<div id="tab-3" class="tab-content">
		Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	</div>

</div>